* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(243, 96%, 9%);
  font-family: sans-serif;
}

.container {
  margin-top: 150px;
  margin-left: 120px;
}

.title {
  font-size: 25px;
}

.inputBox {
  margin-top: 10px;
  margin-bottom: 10px;
}

button#searchTab {
  font-size: 25px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  color: rgb(61, 163, 93);
  cursor: pointer;
  display: flex;
  align-items: center;
}

button#searchTab input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font: 18px;
  width: 300px;
}

button#genTab {
  background-color: rgb(61, 163, 93);
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px;
  border: none;
  cursor: pointer;
}

#white {
  color: white;
}

#green {
  color: rgb(61, 163, 93);
  margin-bottom: 20px;
}
